body {
    background: url(1.jpg) repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 0px solid white;

}

h1 {
    font-size: 35px;
    font-family: 'Staatliches', cursive;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body.a {
    text-align: center;
    color: white;
}

h2 {
    color: white;
    font-size: 30px;
    position: relative;
 }

 h4 {
     font-size: 25px;
 }

 body.A {
    font-family: 'Roboto', sans-serif;
    background: url(1.jpg) repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0px auto;
 }

 body.B {
    background: url(1.jpg) repeat;
    font-family: 'Roboto', sans-serif;
    border: white;
    color: lightgray;
 }

 body.C {
    font-family: 'Roboto', sans-serif;
    background: url(iOt.jpg) repeat;
    background-attachment: fixed;
    background-size: cover;

 }

 body.D {
    font-family: 'Roboto', sans-serif;
    background: url(iOt.jpg) repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 body.E {
    font-family: 'Roboto', sans-serif;
    background: url(iOt.jpg) repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 body.F {
    font-family: 'Roboto', sans-serif;
    background: url(iOt.jpg) repeat;
    background-attachment: fixed;
    background-size: cover;
 }